:root {
  /* light colors */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* dark colors */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);

  /* screen size */
  --smaller-screen: 650px;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.8rem;
}

.App {
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  width: 65rem;
  position: relative;
  top: 6rem;
}
@media only screen and (max-width: 650px) {
  .container {
    width: 85vw;
  }
  body {
    font-size: 1.5rem;
  }
}
